---
import Content from "../components/Content.astro";
import Masthead from "../components/Masthead.astro";
import {
	ASTRO_LINK,
	LARAVEL_LINK,
	REACT_LINK,
	REACT_NATIVE_LINK,
	VUE_LINK,
} from "../config";
import Layout from "../layouts/Layout.astro";

const title = "About me";
---

<Layout title={title}>
	<Masthead page={title} />
	<Content>
		<section>
			<p class="indent-4">
				Sup. My name is <b>Slava Ch</b>. Currently, I'm diving into <a
					href={LARAVEL_LINK}
					><b>Laravel</b>, <a href={ASTRO_LINK}><b>Astro</b></a> &
					<a href={REACT_LINK}><b>React</b></a>. For now I haven't yet defined a
					clear career path, I'm drawn towards <b>frontend development</b>. This
					inclination stems from my desire to translate my creative ideas into
					tangible experiences. Combining technology with creativity allows me
					to craft dynamic and visually stunning applications that resonate with
					users. It's the perfect blend of technical expertise and artistic
					expression that ignites my passion for frontend development. Despite
					my extensive experience with <a href={VUE_LINK}><b>Vue</b></a>
					in commercial projects, what truly captivates me are frontend frameworks
					like <a href={REACT_LINK}><b>React</b></a> and <a href={ASTRO_LINK}
						><b>Astro</b></a
					>. I would also absolutely not mind putting my skills and enthusiasm
					into creating great projects on <a href={REACT_NATIVE_LINK}
						><b>React Native</b></a
					>.
				</a>
			</p>
		</section>
	</Content>
</Layout>
