---
import { GH_LINK, SKIES_4NOW_LINK } from "../config";
import TypeWriter from "./TypeWriter";
import { getLyrics } from "../pages/api/ok4now-genius";

const today = new Date();

const lyrics = await getLyrics();
const formattedLyrics = lyrics.map((line) => `"${line}"`);
---

<footer class="text-zinc-500 p-4 text-center">
	&copy; {today.getFullYear()}
	<a href={GH_LINK}>Slava Ch</a>. All rights reserved.

	<a
		href={SKIES_4NOW_LINK}
		class="flex justify-center items-center overflow-hidden h-8"
	>
		<code class="text-sm hover:text-white transition-colors duration-700">
			<TypeWriter
				words={formattedLyrics}
				loop={false}
				typeSpeed={100}
				deleteSpeed={25}
				client:visible
			/>
		</code>
	</a>
</footer>
